.ApplyForm {
  height: 90vh;
  overflow-y: scroll;
}

.ApplyForm .Form {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px;
}

.inform-button {
  margin: 5px 0;
}

.application-submit {
  margin-top: 15px;
}
